* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-color: black; */
     
    align-items: center;
    background: linear-gradient(100deg, #06222e 0%, #283b46 100%);

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 1000px;
    height: 600px;
    background-color: #ffffff2b;
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(100deg, #06222e 0%, #283b46 100%);
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.9em;
}

.box .text {
    margin: auto;
    margin-top: 20px;
    height: 65px;
    width: 700px;
    background-color: #06222e;
    color: white;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.box img {
    height: 200px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

.box p {
    font-size: 1em;
    margin: auto;
    margin-top: 20px;
    font-family: lobster Two;
}

.startBtn {
    height: 50px;
    width: 90px;
    margin: auto;
    margin-top: 30px;
    font-size: 0.9em;
    border-radius: 30px;
    border: none;
    color: #122e3a;
    background-color: #fff;
}

.msg{
    color: white;
    font-size: 0.6em;
    text-align: center;
    margin-top: 20px;
}

/* This is typically for the second section of that same page */

#second{
    margin-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: linear-gradient(to bottom right, #d2bff4, #b493a9);

    height: 100vh;
}

h2{
    margin-top: 20px;
    font-size: 2.5em;
    width: 1400px;
    height: 50px;
    background-color: rgba(196, 64, 86, 0.785);
    color: white;
    text-align: center;
    border-radius: 12px;
    font-family: lobster Two;
    padding-bottom: 14px;
}

.output{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: 800px;
    background-color: #06222e;
    color: white;
    border-radius: 5px;
}

h3{
    font-family: Saira;
    font-size: 2em;
    margin-bottom: 300px;
    margin-right: auto;
    margin-left: auto;
    
}

/* out button */
#new {
    height: 30px;
    width: 80px;
    margin: auto;
    border-radius: 10px;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
}

.parClass{
    font-size: 1em;
    font-family: cursive;
}

.answer{
    visibility: hidden;
}

#submit{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    outline: none;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}