*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #9795f0 0%, #fbc8d4 100%);
}

.main h2{
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: 600;
}

.main span{
    margin-top: 15px;
    font-size: 1.4em;
    font-weight: 450;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.enquiry{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 30px 40px 30px;
    background-color: #ffffffab;
    box-shadow: 5px 5px 5px grey;
}

.name{
    margin-bottom: 15px;
    padding: 5px 20px 5px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
}

.age{
    margin-bottom: 15px;
    padding: 5px 15px 5px;
    border-radius: 5px;
}

.gender{
    margin-bottom: 12px;
}

.mail{
    margin-bottom: 10px;
    padding: 5px 20px 5px;
}

.text{
    margin-bottom: 30px;
}

button {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    outline: none;
    border-width: 1px;
}