* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arimo;
}

body {
  display: flex;
  justify-content: center;
  background-color: #435661;
}

.top img{
    height: 50px;
    width: 50px;
}

span{
    font-size: 1.9em;
    font-weight: bold;
    color: #fff;
    padding: 10px;
}

.top{
    /**display: flex;
    justify-content: center;
    flex-direction: row; **/
    margin-top: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.gen{
    align-items: center;
    font-size: 1.6em;
    margin-top: 20px;
    margin-left: 130px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: none;
    color: #101517;
    height: 40px;
    width: 100px;
}

.major {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.del{
    height: 40px;
    width: 100px;
    font-size: 1.6em;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}





