*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: saira;
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg, #35bd67 0%, #4783a1 100%);
}

h1{
    font-size: 3em;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.calculator{
    width: 100%;
    max-width: 550px;
    margin-left: 10%;
    margin-top: 10%;
}

span{
    color: rgb(255, 255, 6);
}

.input-box{
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.442);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

input{
    width: 100%;
    max-width: 300px;
    height: 35px;
    padding-left: 20px;
    background-color: whitesmoke;
    color: black;
    border: none;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 1.1em;
}

.input-box button{
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: rgb(255, 255, 6);
    color: black;
    border: none;
}