* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: rgb(53, 53, 53);
    color: white;
}

.major {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

h1{
    margin: 10px;
}

input{
    margin: 10px;
    height: 30px;
    padding-left: 10px;
}

button{
    padding-right: 6px;
    padding-left: 6px;
    font-size: 1.3em;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.del {
    display: flex;
    flex-direction: column;
}